Django==4.2.7
Pillow==10.1.0

# Para traducción
django-rosetta==0.9.9

# Para generación de PDFs nativos
reportlab==4.4.4

# API REST Framework
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
django-filter==23.3
django-cors-headers==4.3.1

# Documentación de API
drf-yasg==1.21.7
